<footer class="container-fluid bg-dark py-5">
    <div class="row justify-content-center img img-fluid ">
        <div class="col-md-3">
            <h2 class="text-white">Informaci칩n</h2>
            <br>
            <p class="text-white"> Para mas informaci칩n, por favor de acercarse a la institucion
                para un trato mas intimo con el colegio, recuerde que estamos
                comprometidos con usted y la escuela
            </p>
            <p class="text-white">Muchas gracias.</p>

        </div>
        <div class="col-md-3">
            <h2 class="text-white">Horario de Atenci칩n:</h2>
            <br>
            <p class="text-white">De lunes a viernes : 6:00 am - 3:00 pm</p>
            <p class="text-white">Sabados y Domingos : 9:00 am - 12:00 pm</p>
            <br>
        </div>
        <div class="col-md-3">
            <h2 class="text-white">Contactenos</h2>
            <br>
            <p class="text-white">Para todas sus peque침as consultas por favor contactarnos: </p>
            <p class="text-white">01)393-0097</p>
            <p class="text-white">sigma@yopmail.com</p>
            <br><br>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="text-center">
                <i class="fas fa-info-circle fa-4x  text-white"></i>
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <i class="fas fa-calendar-plus fa-4x  text-white"></i>
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <i class="fas fa-map-signs fa-4x text-white"></i>
            </div>
        </div>
    </div>
</footer>