<section class="container-fluid px-0 bg-info">
    <nav class="container">
        <div class="row justify-content-end bg-info">
            <div class="col-3 px-0 py-0">
                <h6 class="my-0 text-right">Contactenos <i class="fab fa-facebook-square"></i> <i
                        class="fas fa-envelope-open-text"></i>
                    <i class=" fab fa-whatsapp"></i></h6>
            </div>
        </div>
    </nav>
    <div class="bg-primary ">
        <header class="container px-0">
            <nav class="navbar navbar-expand-md navbar-dark bg-primary menu"><a class="navbar-brand" href="#"><i
                        class="fas fa-school"></i> Sigma</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">
                    <ul class="navbar-nav mr-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Actividades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/add">Contactenos</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0 ">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">

                    </form>
                </div>
            </nav>
        </header>
    </div>
</section>