<section class="container my-5">
    <div class="row justify-content-between ">
        <div class="col-md-3 text-center bg-primary py-5">
            <i class="fa fa-phone fa-3x"></i>
            <h2>TELEFONO</h2>
            <br>
            <p>Numero fijo: 393-0097 </p>
        </div>
        <div class="col-md-3 text-center bg-primary py-5">
            <i class="fa fa-street-view fa-3x"></i>
            <h2>DIRECCION</h2>
            <br>
            <p>Mz-06 LT-6 Asoc.Vivienda Casa Blanca</p>
            <p>(al frente del Parque)</p>
        </div>
        <div class="col-md-3 text-center bg-primary py-5">
            <i class="fa fa-envelope fa-3x"></i>
            <h2>E-MAIL</h2>
            <br>
            <p>Informes@sigma.edu.pe</p>
        </div>
    </div>
</section>