<section class="container-fluid  nosotros-banner">
    <div class="row ">
        <div class="col-md-4 mx-auto align-self-center ">
            <p class="display-1 text-center text-white">Institución</p>
        </div>
    </div>
</section>
<section class="my-5 container">
    <p class="h1 text-center">Colegio Privado <strong class="text-primary">SIGMA</strong></p>
    <p class="text-center h3">¿Quienes somos?</p>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <p class="text-center text-primary"><i class="fas fa-air-freshener fa-10x"></i></p>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eos molestiae tempora ex dicta id facere,
                odio laboriosam ea veniam. Dolorem similique voluptatem necessitatibus itaque in magni, veritatis natus
                porro.
                Maxime ipsam culpa voluptatem unde dolores natus ea vel? Accusamus inventore atque dicta tempora, at
                pariatur natus beatae totam quae, ad quos nihil aliquid fugit temporibus fugiat reiciendis laborum quis.
                Itaque quae, aperiam non consectetur eligendi quos tenetur aut ab. A velit, veritatis laborum harum
                alias quibusdam libero quidem pariatur labore placeat odit autem accusantium iste cum totam delectus
                facere?
                Animi numquam consequuntur necessitatibus et, enim sapiente neque corporis. Impedit amet sit ab nisi, in
                atque cupiditate odit obcaecati rem ullam est quisquam ipsam tenetur ex veniam, ducimus delectus. Rem.
            </p>
        </div>
    </div>
</section>
<section class="container-fluid my-5 pt-5" id="PalabrasDirector">
    <div class="row">
        <div class="col-md-12 px-0">
            <img src="/img/director.jpg" class="img-fluid" alt="">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 mx-auto">
            <p class="h1 text-center text-primary">Palabras del Director</p>
            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio alias rerum nam illum suscipit, ullam
                odit beatae doloribus! Animi facere sequi tempora fugit deserunt dolore ut eaque. Assumenda, unde
                maiores.
                Perferendis, enim repellendus, nihil amet quis libero et commodi fugit quos neque dignissimos, alias
                assumenda doloremque rerum. Voluptates quia optio itaque. Error harum consequuntur libero cupiditate
                architecto explicabo, quae animi!
                Optio molestias magnam esse asperiores, architecto amet soluta, neque accusamus dolor quaerat aliquid
                consequatur! Vel magni quidem odit numquam exercitationem, quisquam saepe labore voluptates, maxime sunt
                aspernatur doloremque explicabo consequatur.
                Atque, fugit? Consequuntur, ut ullam praesentium doloremque libero, dolorum quaerat ducimus atque
                tempora vitae eos sint eveniet quas minima totam enim velit obcaecati sunt error aspernatur ab possimus
                eius quod.
                Eveniet ipsum, amet incidunt ullam alias deserunt eaque delectus impedit sed, harum perferendis
                blanditiis consequuntur nostrum soluta perspiciatis similique consectetur eos et esse! Pariatur quis hic
                veniam sit, possimus fugiat.</p>
        </div>
    </div>
</section>
<section class="container-fluid my-5 py-5" id="MisiónyVisión">
    <div class="row justify-content-center">
        <div class="col-md-3 py-5">
            <h3 class="text-primary  ">Visión</h3>
            <p>"Seamos un Insttitución Educativa democrática en todas las instancias y niveles
                ,que brinden una educación integral, de calidad y que promueva el rescate 
                de valores formando un educando consiente,
                reflexico, crítico, autocríticos, competente, emprendedor y con 
                conciencia ecológica y conservación del medio ambiente y
                su salud, estudiantes que sienten sus propias bases para la
                construcción de su proyecto de vida y contribuyan la desarrollo
                de la comunidad. Una Institución de formación y desarrollo
                de todos sus miembros, dinámica e innovadora marcado por la
                exigencia de un desempeño ético y eficiente"</p>
        </div>
        <div class="col-md-4 d-flex align-items-center  nosotros-vision">
            <div>
                <p class="h1 text-white"><strong>Nuestro compromiso con la educación</strong></p>
                <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit ipsam consectetur fugiat. Ad
                    voluptatibus totam blanditiis accusantium esse, debitis maxime laudantium cupiditate repellat, nisi
                    officiis, dolorem velit voluptas alias numquam?</p>

            </div>
        </div>
        <div class="col-md-3 py-5">
            <h3 class="text-primary">Misión</h3>
            <ul>
                <li>Desarrollar un currículo que atienda los intereses y demandas de nuestros
                    alumnos de acuerdo a las necesidades de la formación ciudadana, acorde
                    con el avance científico y tecnológico.
                </li>
                <li>
                    Dotar a la institución de materiales educativos acordes a nuestra propuesta
                    curricular.
                </li>
                <li>
                    Formar y capacitar a los docentes para que desarrollen nuevos
                    y adecuados enfoques educativos.
                </li>
                <li>
                    Actualizar la personal daministrativo para realizar la gestión 
                    institucional como soporte de la gestión pedagógica.
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="container-fluid my-5">
  
    <div class="row perfil-alumno">
        <div class="col-md-3 d-flex align-items-end justify-content-end perfil-alumno-img-1">
            <h3 class="text-white">Laboratorio de Ciencia</h3>
        </div>
        <div class="col-md-3 d-flex align-items-end justify-content-end perfil-alumno-img-2">
            <h3 class="text-white">Laboratorio de computo</h3>
        </div>
        <div class="col-md-3 d-flex align-items-end justify-content-end perfil-alumno-img-3">
            <h3 class="text-white">Talleres integrales</h3>
        </div>
        <div class="col-md-3 d-flex align-items-end justify-content-end perfil-alumno-img-4">
            <h3 class="text-white">Ingles</h3>
        </div>
    </div>
</section>