<section class="container-fluid  nosotros-banner">
    <div class="row ">
        <div class="col-md-4 mx-auto align-self-center ">
            <p class="h1 text-center text-white">Institución</p>
        </div>
    </div>
</section>
<section class="my-5 container">
    <p class="h1 text-center">Colegio Privado <strong class="text-primary">SIGMA</strong></p>
    <p class="text-center h3">¿Quienes somos?</p>
</section>
