
<section class="container-fluid ">
   <div class="row titulo justify-content-center align-items-center">
       <div class="col-md-8">
           <p class="text-white display-1 text-center">COLEGIO PRIVADO SIGMA</p>
       </div>

   </div>
</section>

<section class=" py-5 container">
    <div class="row ">
        <div class="col-md-6">
            <h4 class="text-primary">Inicio de matriculas</h4>
            <h3>Piensa en el futuro de tus hijos</h3>
            <br>
            <h4 class="text-primary">Haga sus consultas</h4>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nobis quos iste eveniet nesciunt
                dolores libero unde suscipit placeat! Totam eius nulla dignissimos impedit error architecto,
                explicabo delectus placeat consequatur!
            </p>
            <hr>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione officiis quae dolore impedit omnis?
                Officia enim quia accusamus consectetur fugit consequuntur aperiam unde aliquid assumenda laborum,
                vitae culpa reprehenderit officiis.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3 ">
            <div class="row justify-content-center">
                <div class="col-3">
                    <i class="fas fa-smile-beam fa-5x iconos-section-2"></i>
                </div>
                <div class="col-6">
                    <h2 class="">1280</h2>
                    <span class="text-primary">Niños Felices</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="row justify-content-center">
                <div class="col-3">
                    <i class="fas fa-smile-beam fa-5x iconos-section-2"></i>
                </div>
                <div class="col-6">
                    <h2 class="">1280</h2>
                    <span class="text-primary">Padres Felices</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="row justify-content-center">
                <div class="col-3">
                    <i class="fas fa-smile-beam fa-5x iconos-section-2"></i>
                </div>
                <div class="col-6">
                    <h2 class="">1280</h2>
                    <span class="text-primary">Docentes Alegres</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="row justify-content-center">
                <div class="col-3">
                    <i class="fas fa-smile-beam fa-5x iconos-section-2"></i>
                </div>
                <div class="col-6">
                    <h2 class="">1</h2>
                    <span class="text-primary">Dueño Alegre</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="">
        <h2>Modos de Matricula</h2>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active text-primary" data-toggle="tab" href="#home">Alumo Regular</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" data-toggle="tab" href="#profile">Alumno Trasladado</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="home">
                <div class="row p-5">
                    <div class="col-md-6">
                        <img src="img/matriculaRegular.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-primary">Matricula Regular</h3>
                        <h4>Requisitos</h4>
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                            aliqua,
                            retro
                            synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                            Reprehenderit
                            butcher
                            retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex
                            squid.
                            Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher
                            voluptate
                            nisi qui.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile">
                <div class="row p-5">
                    <div class="col-md-6">
                        <img src="img/matriculaRegular.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-primary">Matricula de Traslado</h3>
                        <h4>Requisitos</h4>
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                            aliqua,
                            retro
                            synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                            Reprehenderit
                            butcher
                            retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex
                            squid.
                            Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher
                            voluptate
                            nisi qui.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid my-5">
    <div class="row ">
        <div class="col-md-6 pt-5">
            <div class="row">
                <div class="offset-2 col-5">
                    <img src="/img/actividades4.jpg" class="img-fluid" alt="no sale ">
                    <h4 class="text-primary">Aniversario del Colegio</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae facere sed dolore distinctio
                        unde quos.</p>
                </div>
                <div class="col-5">
                    <img src="/img/actividades3.jpg" class="img-fluid" alt="error">
                    <h4 class="text-primary">Dia de la Madre</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis aperiam ipsam debitis
                        tempora porro qui.</p>
                </div>
            </div>
            <div class="row">
                <div class="offset-2 col-5">
                    <img src="/img/actividades2.jpg" class="img-fluid" alt="no sale ">
                    <h4 class="text-primary">Dia del niño</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam autem esse alias, odio
                        expedita facilis?</p>
                </div>
                <div class="col-5">
                    <img src="/img/actividades4.jpg" class="img-fluid" alt="no sale ">
                    <h4 class="text-primary">Dia del Logro</h4>
                    <pa>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio omnis accusamus, similique animi
                        deleniti maiores?</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 bg-primary p-5">
            <div class="p-5">
                <p class="h1 text-white">Ven y descubre las actividades escolares!</p>
                <br>
                <p class="text-left text-white">Per semper litora dui posuere eget hac id feugiat taciti, cum accumsan
                    euismod
                    dignissim sollicitudin nullam eros. Vivamus nisi consequat sem
                    vulputate eu varius himenaeos potenti facilisi</p>
                <p class="text-left text-white">Este generador usa un diccionario de palabras en latín para construir
                    pasajes de
                    texto Lorem Ipsum que cumpla con su longitud deseada. La duración y la puntuación dispesar de la
                    oración,
                    libre de repeticiones y también se parece a un texto legible todo lo posible.</p>
                <br>
                <button class="btn btn-info "> Conoce más </button>
            </div>
        </div>
    </div>
</section>
<section class="container py-5">
    <h1 class="text-center text-primary pb-4">Docentes de alto nivel educativo</h1>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card">
                <img src="/img/docente.jpg" class="card-img-top" alt="error">
                <div class="card-body">
                    <h4 class="card-title text-primary">Profesor Chivita</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio molestiae,
                        voluptatem alias id maxime accusantium voluptate ullam quasi! Et, aut.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/img/docente1.jpg" class="card-img-top" alt="error">
                <div class="card-body">
                    <h4 class="card-title text-primary">Profesor Asustado</h4>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In quia velit
                        accusantium nam placeat illum sint sed alias ipsum exercitationem?</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/img/docente.jpg" class="card-img-top" alt="error">
                <div class="card-body">
                    <h4 class="card-title text-primary">Profesor Croker</h4>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In quia velit
                        accusantium nam placeat illum sint sed alias ipsum exercitationem?</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/img/docente1.jpg" class="card-img-top" alt="error">
                <div class="card-body">
                    <h4 class="card-title text-primary">Profesor Relajago</h4>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In quia velit
                        accusantium nam placeat illum sint sed alias ipsum exercitationem?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid my-5">
    <div class="row justify-content-center frase align-content-center">
        <div class="col-md-4">
            <h3 class="text-white">years in the field</h3>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti similique vel
                consequatur repellendus voluptatum dignissimos facilis, harum optio cupiditate laborum!</p>
        </div>
        <div class="col-md-4 py-3">
            <div class="row ">
                <div class="col-md-4">
                    <h5 class="text-center text-white">Cursos</h5>
                    <p class="h1 text-center text-white">20</p>
                </div>
                <div class="col-md-4">
                    <h5 class="text-center text-white">Trabajadores</h5>
                    <p class="h1 text-center text-white">30</p>
                </div>
                <div class="col-md-4">
                    <h5 class="text-center text-white">Total estudiantes</h5>
                    <p class="h1 text-center text-white">150</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container my-5 py-5">
    <div class="row ">
        <div class="col-md-4">
            <img src="/img/edificio.png" class="img-fluid" alt="esta es la imagen de la edificaicon">
        </div>
        <div class="col-md-8">
            <p class="h1 text-primary pb-md-5">La mejor edificacion mas segura para el desempeño de sus alumnos</p>
            <div class="row">
                <div class="col-md-6 p-md-4 edificacion-cuadro-1">
                    <h5 class="text-primary">Aulas de innovación</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, illum dignissimos laborum labore
                        aut ratione voluptatem reprehenderit rerum autem quaerat?</p>
                </div>
                <div class="col-md-6 p-md-4 edificacion-cuadro-2">
                    <h5 class="text-primary">Patio recreativo</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, illum dignissimos laborum labore
                        aut ratione voluptatem reprehenderit rerum autem quaerat?</p>
                </div>
                <div class="col-md-6 p-md-4 edificacion-cuadro-3">
                    <h5 class="text-primary">Sistema de seguridad</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, illum dignissimos laborum labore
                        aut ratione voluptatem reprehenderit rerum autem quaerat?</p>
                </div>
                <div class="col-md-6 p-md-4">
                    <h5 class="text-primary">Lorem ipsum dolor sit amet.</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, illum dignissimos laborum labore
                        aut ratione voluptatem reprehenderit rerum autem quaerat?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-MetodoEstudio container-fluid ">
    <div class="row justify-content-center py-md-5">
        <div class="col-md-3">
            <img src="/img/docente.jpg" class="img-fluid " alt="">
        </div>
        <div class="col-md-4">
            <span class="text-primary">NOW YOU CAN GET</span>
            <p class="h1 text-white">LA MEJOR EDUCACACION PARA UN BRILLANTE FUTURO</p>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi qui illum nisi, eveniet dolor ipsum,
                assumenda consectetur odio obcaecati libero praesentium provident quam minus incidunt doloremque
                officiis expedita, inventore non.</p>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore dolor ab voluptatum facere sunt nam
                laborum veritatis possimus magni repellat earum ad inventore porro, labore maxime molestias! Quis, earum
                dolorum.</p>
        </div>
    </div>
</section>


