
<section class="container-fluid ">
   <div class="row titulo justify-content-center align-items-center">
       <div class="col-md-8">
           <p class="text-white display-1 text-center">COLEGIO PRIVADO SIGMA</p>
       </div>

   </div>
</section>

<section class=" py-5 container">
    <div class="row ">
        <div class="col-md-6">
            <h4 class="text-primary">Inicio de matriculas</h4>
            <h3>Piensa en el futuro de tus hijos</h3>
            <br>
            <h4 class="text-primary">Haga sus consultas</h4>
        </div>
        <div class="col-md-6">
            <p>Nos distinguimos por nuestra calidad y excelencia académica, formando alumnos líderes bajo una propuesta
                educativa con visión integral, en la que la búsqueda de la excelencia académica se combina con la
                práctica de deportes y el desarrollo de múltiples habilidades.
            </p>
            <hr>
            <p>Insttitución Educativa democrática en todas las instancias y niveles ,que brinden una educación integral, de
                calidad y que promueva el rescate de valores formando un educando consiente, reflexico, crítico, autocríticos,
                competente, emprendedor y con conciencia ecológica y conservación del medio ambiente y su salud
            </p>
            </div>
            </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-md-3 ">
            <div class="row justify-content-center">
                <div class="col-3">
                    <i class="fas fa-child fa-5x iconos-section-2"></i>
                </div>
                <div class="col-6">
                    <h2 class="">150</h2>
                    <span class="text-primary">Alumnos</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="row justify-content-center">
                <div class="col-4">
                    <i class="fas fa-chalkboard-teacher fa-5x iconos-section-2"> </i>
                </div>
                <div class="col-6">
                    <h2 class="">9</h2>
                    <span class="text-primary">Docentes</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="row justify-content-center">
                <div class="col-3">
                    <i class="fas fa-user-tie fa-5x iconos-section-2"></i>
                </div>
                <div class="col-6">
                    <h2 class="">3</h2>
                    <span class="text-primary">Trabajadores</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active text-primary" data-toggle="tab" href="#home">Alumo Regular</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" data-toggle="tab" href="#profile">Alumno Trasladado</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="home">
                <div class="row p-5">
                    <div class="col-md-6">
                        <img src="img/matriculaRegular.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-primary">Matricula Regular</h3>
                        <h5>Requisitos</h5>
                        <p>Se realiza desde Enero hasta Marzo.</p>
                        <ul>
                            <li>DNI</li>
                            <li>Partida de nacimiento</li>
                            <li>Ficha de Matricula</li>
                            <li>2 fotos tamaño carnet</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile">
                <div class="row p-5">
                    <div class="col-md-6">
                        <img src="img/matriculaRegular.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-primary">Matricula adicional</h3>
                        <h4>Requisitos</h4>
                        <p>De abril hasta Octubre (Modalidad traslado)</p>
                        <ul>
                            <li>Certfcado de estudios</li>
                            <li>Libreta de notas del año cursado</li>
                            <li>Ficha de matricula</li>
                            <li>2 fotos tamaño carnet</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid my-5">
    <div class="row ">
        <div class="col-md-6 pt-5">
            <div class="row">
                <div class="offset-2 col-5">
                    <img src="/img/actividades4.jpg" class="img-fluid" alt="no sale ">
                    <h4 class="text-primary">Dia de la madre</h4>
                    <p>Se rinde homenaje con la participación de los niños.</p>
                </div>
                <div class="col-5">
                    <img src="/img/actividades3.jpg" class="img-fluid" alt="error">
                    <h4 class="text-primary">Dia de la bandera</h4>
                    <p>Se recuerda la batalla de Arica y el juramento de las brigadas.</p>
                </div>
            </div>
            <div class="row">
                <div class="offset-2 col-5">
                    <img src="/img/actividades2.jpg" class="img-fluid" alt="no sale ">
                    <h4 class="text-primary">Aniversario del Colegio</h4>
                    <p>Se realizan concuros de dazas,festivales deportivos.</p>
                </div>
                <div class="col-5">
                    <img src="/img/actividades4.jpg" class="img-fluid" alt="no sale ">
                    <h4 class="text-primary">Clausura del año escolar</h4>
                    <p>Premiación de los niños destacados,actvidad del dia de logro,entregra de deploma</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 bg-primary p-5">
            <div class="p-5">
                <p class="h1 text-white">Ven y descubre las actividades escolares!</p>
                <br>
                <p class="text-left text-white">Cada año la institución realiza las actividades
                    escolares en las que participa todo el alumnado.
                </p>
                <p class="text-left text-white">Este generador usa un diccionario de palabras en latín para construir
                    pasajes de
                    texto Lorem Ipsum que cumpla con su longitud deseada. La duración y la puntuación dispesar de la
                    oración,
                    libre de repeticiones y también se parece a un texto legible todo lo posible.</p>
                <br>
                
            </div>
        </div>
    </div>
</section>
<section class="container py-5">
    <h1 class="text-center text-primary pb-4">Docentes de alto nivel educativo</h1>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card">
                <img src="/img/docente.jpg" class="card-img-top " alt="error">
                <div class="card-body">
                    <h4 class="card-title text-primary">Sonia Simche Hurtado</h4>
                    <p class="card-text">Cariñosa con los niños, dedicada con sus alumnos, responsable en su desarrollo como docente</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/img/docente1.jpg" class="card-img-top " alt="error">
                <div class="card-body">
                    <h4 class="card-title text-primary">Leonarda Tucno Vilca</h4>
                    <p class="card-text">Docente dedicada completamente a sus alumnos y responsable en su trabajo</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/img/docente.jpg" class="card-img-top" alt="error">
                <div class="card-body">
                    <h4 class="card-title text-primary">Irma del Pilar Gallardo</h4>
                    <p class="card-text">Buena puntualidad y responsabilidad en el trabajo.
                        Presentación laboral impecable.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/img/docente1.jpg" class="card-img-top" alt="error">
                <div class="card-body">
                    <h4 class="card-title text-primary">PLuz Solano Estares</h4>
                    <p class="card-text">Las mas alegré , siempre colaborando con las actividades de manera voluntaria</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid my-5">
    <div class="row justify-content-center frase align-content-center">
        <div class="col-md-4">
            <h3 class="text-white">years in the field</h3>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti similique vel
                consequatur repellendus voluptatum dignissimos facilis, harum optio cupiditate laborum!</p>
        </div>
        <div class="col-md-4 py-3">
            <div class="row ">
                <div class="col-md-4">
                    <h5 class="text-center text-white">Cursos</h5>
                    <p class="h1 text-center text-white">20</p>
                </div>
                <div class="col-md-4">
                    <h5 class="text-center text-white">Trabajadores</h5>
                    <p class="h1 text-center text-white">30</p>
                </div>
                <div class="col-md-4">
                    <h5 class="text-center text-white">Total estudiantes</h5>
                    <p class="h1 text-center text-white">150</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container my-5 py-5">
    <div class="row ">
        <div class="col-md-4">
            <img src="/img/edificio.png" class="img-fluid" alt="esta es la imagen de la edificaicon">
        </div>
        <div class="col-md-8">
            <p class="h1 text-primary pb-md-5">La mejor edificacion mas segura para el desempeño de sus alumnos</p>
            <div class="row">
                <div class="col-md-6 p-md-4 edificacion-cuadro-1">
                    <h5 class="text-primary">Aulas de innovación</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, illum dignissimos laborum labore
                        aut ratione voluptatem reprehenderit rerum autem quaerat?</p>
                </div>
                <div class="col-md-6 p-md-4 edificacion-cuadro-2">
                    <h5 class="text-primary">Patio recreativo</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, illum dignissimos laborum labore
                        aut ratione voluptatem reprehenderit rerum autem quaerat?</p>
                </div>
                <div class="col-md-6 p-md-4 edificacion-cuadro-3">
                    <h5 class="text-primary">Sistema de seguridad</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, illum dignissimos laborum labore
                        aut ratione voluptatem reprehenderit rerum autem quaerat?</p>
                </div>
                <div class="col-md-6 p-md-4">
                    <h5 class="text-primary">Lorem ipsum dolor sit amet.</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, illum dignissimos laborum labore
                        aut ratione voluptatem reprehenderit rerum autem quaerat?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-MetodoEstudio container-fluid ">
    <div class="row justify-content-center py-md-5">
        <div class="col-md-3">
            <img src="/img/docente.jpg" class="img-fluid " alt="">
        </div>
        <div class="col-md-4">
            <span class="text-primary">NOW YOU CAN GET</span>
            <p class="h1 text-white">LA MEJOR EDUCACACION PARA UN BRILLANTE FUTURO</p>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi qui illum nisi, eveniet dolor ipsum,
                assumenda consectetur odio obcaecati libero praesentium provident quam minus incidunt doloremque
                officiis expedita, inventore non.</p>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore dolor ab voluptatum facere sunt nam
                laborum veritatis possimus magni repellat earum ad inventore porro, labore maxime molestias! Quis, earum
                dolorum.</p>
        </div>
    </div>
</section>


