<section class="container my-5">
    <div class="row">
        <div class="col-md-6">

            <img src="/img/propuesta.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-6">
            <h2 class="text-primary">¿Como educar para el futuro?</h2>
            <h3>Formando lideres que el Perú necesita</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere necessitatibus dolorum esse consequuntur
                sint ullam molestias deleniti repellat maiores accusamus repellendus ipsum nulla, explicabo asperiores
                eaque debitis eos reiciendis obcaecati!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere necessitatibus dolorum esse consequuntur
                sint ullam molestias deleniti repellat maiores accusamus repellendus ipsum nulla, explicabo asperiores
                eaque debitis eos reiciendis obcaecati!</p>
        </div>
    </div>
</section>
<section class="container my-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <p class="h1 text-primary text-center">Nuestra Propuesta</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus vel accusamus aperiam repudiandae quis
                iure dolores in, ex nesciunt ullam ut, ipsam adipisci explicabo perspiciatis debitis tempora dolore?
                Voluptate, aperiam?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus vel accusamus aperiam repudiandae
                quis
                iure dolores in, ex nesciunt ullam ut, ipsam adipisci explicabo perspiciatis debitis tempora dolore?
                Voluptate, aperiam?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus vel accusamus aperiam repudiandae quis
                iure dolores in, ex nesciunt ullam ut, ipsam adipisci explicabo perspiciatis debitis tempora dolore?
                Voluptate, aperiam?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus vel accusamus aperiam repudiandae
                quis
                iure dolores in, ex nesciunt ullam ut, ipsam adipisci explicabo perspiciatis debitis tempora dolore?
                Voluptate, aperiam?</p>
        </div>
    </div>
</section>
<section class="container-fluid my-5 ">
    <p class="h3 text-center text-primary">Buscamos ser el apoyo de nuestros alumnos en su desarrollo</p>
    <p class="h1 text-center pb-3 ">PERFIL DEL ALUMNO</p>
    <div class="row perfil-alumno">
        <div class="col-md-3 d-flex align-items-end justify-content-end perfil-alumno-img-1">
            <h3 class="text-white">Humanista</h3>
        </div>
        <div class="col-md-3 d-flex align-items-end justify-content-end perfil-alumno-img-2">
            <h3 class="text-white">Academico</h3>
        </div>
        <div class="col-md-3 d-flex align-items-end justify-content-end perfil-alumno-img-3">
            <h3 class="text-white">Habilidades Multiples</h3>
        </div>
        <div class="col-md-3 d-flex align-items-end justify-content-end perfil-alumno-img-4">
            <h3 class="text-white">Disciplimanado en Deportes</h3>
        </div>
    </div>

</section>